RankingEnzymes/src/main/resources/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FinalC" type="FinalCType"/>
  <xs:complexType name="FinalCType">
    <xs:sequence>
      <xs:element type="xs:string" name="genomeCodev"/>
      <xs:element type="xs:integer" name="totalEnzymesv"/>
      <xs:element type="xs:integer" name="A"/>
      <xs:element type="xs:integer" name="B"/>
      <xs:element type="xs:integer" name="C"/>
      <xs:element type="xs:integer" name="D"/>
      <xs:element type="xs:integer" name="E"/>
      <xs:element type="xs:integer" name="F"/>
      <xs:element type="xs:integer" name="G"/>
      <xs:element type="xs:integer" name="H"/>
      <xs:element type="xs:integer" name="I"/>
      <xs:element type="xs:integer" name="J"/>
      <xs:element type="xs:integer" name="K"/>
      <xs:element type="xs:integer" name="L"/>
      <xs:element type="xs:integer" name="M"/>
      <xs:element type="xs:integer" name="N"/>
      <xs:element type="xs:integer" name="O"/>
      <xs:element type="xs:integer" name="P"/>
      <xs:element type="xs:integer" name="Q"/>
      <xs:element type="xs:integer" name="R"/>
      <xs:element type="xs:integer" name="S"/>
      <xs:element type="xs:integer" name="T"/>
      <xs:element type="xs:integer" name="U"/>
      <xs:element type="xs:integer" name="V"/>
      <xs:element type="xs:integer" name="W"/>
      <xs:element type="xs:integer" name="X"/>
      <xs:element type="xs:integer" name="Y"/>
      <xs:element type="xs:integer" name="Z"/>
      <xs:element type="xs:integer" name="AA"/>
      <xs:element type="xs:integer" name="AB"/>
      <xs:element type="xs:integer" name="AC"/>
      <xs:element type="xs:integer" name="AD"/>
      <xs:element type="xs:integer" name="AE"/>
      <xs:element type="xs:integer" name="AF"/>
      <xs:element type="xs:integer" name="AG"/>
      <xs:element type="xs:integer" name="AH"/>
      <xs:element type="xs:integer" name="AI"/>
      <xs:element type="xs:integer" name="AJ"/>
      <xs:element type="xs:integer" name="AK"/>
      <xs:element type="xs:integer" name="AL"/>
      <xs:element type="xs:integer" name="AM"/>
      <xs:element type="xs:integer" name="AN"/>
      <xs:element type="xs:integer" name="AO"/>
      <xs:element type="xs:integer" name="AP"/>
      <xs:element type="xs:integer" name="AQ"/>
      <xs:element type="xs:integer" name="AR"/>
      <xs:element type="xs:integer" name="AS"/>
      <xs:element type="xs:integer" name="AT"/>
      <xs:element type="xs:integer" name="AU"/>
      <xs:element type="xs:integer" name="AV"/>
      <xs:element type="xs:integer" name="AW"/>
      <xs:element type="xs:integer" name="AX"/>
      <xs:element type="xs:integer" name="AY"/>
      <xs:element type="xs:integer" name="AZ"/>
      <xs:element type="xs:integer" name="BA"/>
      <xs:element type="xs:integer" name="BB"/>
      <xs:element type="xs:integer" name="BC"/>
      <xs:element type="xs:integer" name="BD"/>
      <xs:element type="xs:integer" name="BE"/>
      <xs:element type="xs:integer" name="BF"/>
      <xs:element type="xs:integer" name="BG"/>
      <xs:element type="xs:integer" name="BH"/>
      <xs:element type="xs:integer" name="BI"/>
      <xs:element type="xs:integer" name="BJ"/>
      <xs:element type="xs:integer" name="BK"/>
      <xs:element type="xs:integer" name="BL"/>
      <xs:element type="xs:integer" name="BM"/>
      <xs:element type="xs:integer" name="BN"/>
      <xs:element type="xs:integer" name="BO"/>
      <xs:element type="xs:integer" name="BP"/>
      <xs:element type="xs:integer" name="BQ"/>
      <xs:element type="xs:integer" name="BR"/>
      <xs:element type="xs:integer" name="BS"/>
      <xs:element type="xs:integer" name="BT"/>
      <xs:element type="xs:integer" name="BU"/>
      <xs:element type="xs:integer" name="BV"/>
      <xs:element type="xs:integer" name="BW"/>
      <xs:element type="xs:integer" name="BX"/>
      <xs:element type="xs:integer" name="BY"/>
      <xs:element type="xs:integer" name="BZ"/>
      <xs:element type="xs:integer" name="CA"/>
      <xs:element type="xs:integer" name="CB"/>
      <xs:element type="xs:integer" name="CC"/>
      <xs:element type="xs:integer" name="CD"/>
      <xs:element type="xs:integer" name="CE"/>
      <xs:element type="xs:integer" name="CF"/>
      <xs:element type="xs:integer" name="CG"/>
      <xs:element type="xs:integer" name="CH"/>
      <xs:element type="xs:integer" name="CI"/>
      <xs:element type="xs:integer" name="CJ"/>
      <xs:element type="xs:integer" name="CK"/>
      <xs:element type="xs:integer" name="CL"/>
      <xs:element type="xs:integer" name="CM"/>
      <xs:element type="xs:integer" name="CN"/>
      <xs:element type="xs:integer" name="CO"/>
      <xs:element type="xs:integer" name="CP"/>
      <xs:element type="xs:integer" name="CQ"/>
      <xs:element type="xs:integer" name="CR"/>
      <xs:element type="xs:integer" name="CS"/>
      <xs:element type="xs:integer" name="CT"/>
      <xs:element type="xs:integer" name="CU"/>
      <xs:element type="xs:integer" name="CV"/>
      <xs:element type="xs:integer" name="CW"/>
      <xs:element type="xs:integer" name="CX"/>
      <xs:element type="xs:integer" name="CY"/>
      <xs:element type="xs:integer" name="CZ"/>
      <xs:element type="xs:integer" name="DA"/>
      <xs:element type="xs:integer" name="DB"/>
      <xs:element type="xs:integer" name="DC"/>
      <xs:element type="xs:integer" name="DD"/>
      <xs:element type="xs:integer" name="DE"/>
      <xs:element type="xs:integer" name="DF"/>
      <xs:element type="xs:integer" name="DG"/>
      <xs:element type="xs:integer" name="DH"/>
      <xs:element type="xs:integer" name="DI"/>
      <xs:element type="xs:integer" name="DJ"/>
      <xs:element type="xs:integer" name="DK"/>
      <xs:element type="xs:integer" name="DL"/>
      <xs:element type="xs:integer" name="DM"/>
      <xs:element type="xs:integer" name="DN"/>
      <xs:element type="xs:integer" name="DO"/>
      <xs:element type="xs:integer" name="DP"/>
      <xs:element type="xs:integer" name="DQ"/>
      <xs:element type="xs:integer" name="DR"/>
      <xs:element type="xs:integer" name="DS"/>
      <xs:element type="xs:integer" name="DT"/>
      <xs:element type="xs:integer" name="DU"/>
      <xs:element type="xs:integer" name="DV"/>
      <xs:element type="xs:integer" name="DW"/>
      <xs:element type="xs:integer" name="DX"/>
      <xs:element type="xs:integer" name="DY"/>
      <xs:element type="xs:integer" name="DZ"/>
      <xs:element type="xs:integer" name="EA"/>
      <xs:element type="xs:integer" name="EB"/>
      <xs:element type="xs:integer" name="EC"/>
      <xs:element type="xs:integer" name="ED"/>
      <xs:element type="xs:integer" name="EE"/>
      <xs:element type="xs:integer" name="EF"/>
      <xs:element type="xs:integer" name="EG"/>
      <xs:element type="xs:integer" name="EH"/>
      <xs:element type="xs:integer" name="EI"/>
      <xs:element type="xs:integer" name="EJ"/>
      <xs:element type="xs:integer" name="EK"/>
      <xs:element type="xs:integer" name="EL"/>
      <xs:element type="xs:integer" name="EM"/>
      <xs:element type="xs:integer" name="EN"/>
      <xs:element type="xs:integer" name="EO"/>
      <xs:element type="xs:integer" name="EP"/>
      <xs:element type="xs:integer" name="EQ"/>
      <xs:element type="xs:integer" name="ER"/>
      <xs:element type="xs:integer" name="ES"/>
      <xs:element type="xs:integer" name="ET"/>
      <xs:element type="xs:integer" name="EU"/>
      <xs:element type="xs:integer" name="EV"/>
      <xs:element type="xs:integer" name="EW"/>
      <xs:element type="xs:integer" name="EX"/>
      <xs:element type="xs:integer" name="EY"/>
      <xs:element type="xs:integer" name="EZ"/>
      <xs:element type="xs:integer" name="FA"/>
      <xs:element type="xs:integer" name="FB"/>
      <xs:element type="xs:integer" name="FC"/>
      <xs:element type="xs:integer" name="FD"/>
      <xs:element type="xs:integer" name="FE"/>
      <xs:element type="xs:integer" name="FF"/>
      <xs:element type="xs:integer" name="FG"/>
      <xs:element type="xs:integer" name="FH"/>
      <xs:element type="xs:integer" name="FI"/>
      <xs:element type="xs:integer" name="FJ"/>
      <xs:element type="xs:integer" name="FK"/>
      <xs:element type="xs:integer" name="FL"/>
      <xs:element type="xs:integer" name="FM"/>
      <xs:element type="xs:integer" name="FN"/>
      <xs:element type="xs:integer" name="FO"/>
      <xs:element type="xs:integer" name="FP"/>
      <xs:element type="xs:integer" name="FQ"/>
      <xs:element type="xs:integer" name="FR"/>
      <xs:element type="xs:integer" name="FS"/>
      <xs:element type="xs:integer" name="FT"/>
      <xs:element type="xs:integer" name="FU"/>
      <xs:element type="xs:integer" name="FV"/>
      <xs:element type="xs:integer" name="FW"/>
      <xs:element type="xs:integer" name="FX"/>
      <xs:element type="xs:integer" name="FY"/>
      <xs:element type="xs:integer" name="FZ"/>
      <xs:element type="xs:integer" name="GA"/>
      <xs:element type="xs:integer" name="GB"/>
      <xs:element type="xs:integer" name="GC"/>
      <xs:element type="xs:integer" name="GD"/>
      <xs:element type="xs:integer" name="GE"/>
      <xs:element type="xs:integer" name="GF"/>
      <xs:element type="xs:integer" name="GG"/>
      <xs:element type="xs:integer" name="GH"/>
      <xs:element type="xs:integer" name="GI"/>
      <xs:element type="xs:integer" name="GJ"/>
      <xs:element type="xs:integer" name="GK"/>
      <xs:element type="xs:integer" name="GL"/>
      <xs:element type="xs:integer" name="GM"/>
      <xs:element type="xs:integer" name="GN"/>
      <xs:element type="xs:integer" name="GO"/>
      <xs:element type="xs:integer" name="GP"/>
      <xs:element type="xs:integer" name="GQ"/>
      <xs:element type="xs:integer" name="GR"/>
      <xs:element type="xs:integer" name="GS"/>
      <xs:element type="xs:integer" name="GT"/>
      <xs:element type="xs:integer" name="GU"/>
      <xs:element type="xs:integer" name="GV"/>
      <xs:element type="xs:integer" name="GW"/>
      <xs:element type="xs:integer" name="GX"/>
      <xs:element type="xs:integer" name="GY"/>
      <xs:element type="xs:integer" name="GZ"/>
      <xs:element type="xs:integer" name="HA"/>
      <xs:element type="xs:integer" name="HB"/>
      <xs:element type="xs:integer" name="HC"/>
      <xs:element type="xs:integer" name="HD"/>
      <xs:element type="xs:integer" name="HE"/>
      <xs:element type="xs:integer" name="HF"/>
      <xs:element type="xs:integer" name="HG"/>
      <xs:element type="xs:integer" name="HH"/>
      <xs:element type="xs:integer" name="HI"/>
      <xs:element type="xs:integer" name="HJ"/>
      <xs:element type="xs:integer" name="HK"/>
      <xs:element type="xs:integer" name="HL"/>
      <xs:element type="xs:integer" name="HM"/>
      <xs:element type="xs:integer" name="HN"/>
      <xs:element type="xs:integer" name="HO"/>
      <xs:element type="xs:integer" name="HP"/>
      <xs:element type="xs:integer" name="HQ"/>
      <xs:element type="xs:integer" name="HR"/>
      <xs:element type="xs:integer" name="HS"/>
      <xs:element type="xs:integer" name="HT"/>
      <xs:element type="xs:integer" name="HU"/>
      <xs:element type="xs:integer" name="HV"/>
      <xs:element type="xs:integer" name="HW"/>
      <xs:element type="xs:integer" name="HX"/>
      <xs:element type="xs:integer" name="HY"/>
      <xs:element type="xs:integer" name="HZ"/>
      <xs:element type="xs:integer" name="IA"/>
      <xs:element type="xs:integer" name="IB"/>
      <xs:element type="xs:integer" name="IC"/>
      <xs:element type="xs:integer" name="ID"/>
      <xs:element type="xs:integer" name="IE"/>
      <xs:element type="xs:integer" name="IF"/>
      <xs:element type="xs:integer" name="IG"/>
      <xs:element type="xs:integer" name="IH"/>
      <xs:element type="xs:integer" name="II"/>
      <xs:element type="xs:integer" name="IJ"/>
      <xs:element type="xs:integer" name="IK"/>
      <xs:element type="xs:integer" name="IL"/>
      <xs:element type="xs:integer" name="IM"/>
      <xs:element type="xs:integer" name="IN"/>
      <xs:element type="xs:integer" name="IO"/>
      <xs:element type="xs:integer" name="IP"/>
      <xs:element type="xs:integer" name="IQ"/>
      <xs:element type="xs:integer" name="IR"/>
      <xs:element type="xs:integer" name="IS"/>
      <xs:element type="xs:integer" name="IT"/>
      <xs:element type="xs:integer" name="IU"/>
      <xs:element type="xs:integer" name="IV"/>
      <xs:element type="xs:integer" name="IW"/>
      <xs:element type="xs:integer" name="IX"/>
      <xs:element type="xs:integer" name="IY"/>
      <xs:element type="xs:integer" name="IZ"/>
      <xs:element type="xs:integer" name="JA"/>
      <xs:element type="xs:integer" name="JB"/>
      <xs:element type="xs:integer" name="JC"/>
      <xs:element type="xs:integer" name="JD"/>
      <xs:element type="xs:integer" name="JE"/>
      <xs:element type="xs:integer" name="JF"/>
      <xs:element type="xs:integer" name="JG"/>
      <xs:element type="xs:integer" name="JH"/>
      <xs:element type="xs:integer" name="JI"/>
      <xs:element type="xs:integer" name="JJ"/>
      <xs:element type="xs:integer" name="JK"/>
      <xs:element type="xs:integer" name="JL"/>
      <xs:element type="xs:integer" name="JM"/>
      <xs:element type="xs:integer" name="JN"/>
      <xs:element type="xs:integer" name="JO"/>
      <xs:element type="xs:integer" name="JP"/>
      <xs:element type="xs:integer" name="JQ"/>
      <xs:element type="xs:integer" name="JR"/>
      <xs:element type="xs:integer" name="JS"/>
      <xs:element type="xs:integer" name="JT"/>
      <xs:element type="xs:integer" name="JU"/>
      <xs:element type="xs:integer" name="JV"/>
      <xs:element type="xs:integer" name="JW"/>
      <xs:element type="xs:integer" name="JX"/>
      <xs:element type="xs:integer" name="JY"/>
      <xs:element type="xs:integer" name="JZ"/>
      <xs:element type="xs:integer" name="KA"/>
      <xs:element type="xs:integer" name="KB"/>
      <xs:element type="xs:integer" name="KC"/>
      <xs:element type="xs:integer" name="KD"/>
      <xs:element type="xs:integer" name="KE"/>
      <xs:element type="xs:integer" name="KF"/>
      <xs:element type="xs:integer" name="KG"/>
      <xs:element type="xs:integer" name="KH"/>
      <xs:element type="xs:integer" name="KI"/>
      <xs:element type="xs:integer" name="KJ"/>
      <xs:element type="xs:integer" name="KK"/>
      <xs:element type="xs:integer" name="KL"/>
      <xs:element type="xs:integer" name="KM"/>
      <xs:element type="xs:integer" name="KN"/>
      <xs:element type="xs:integer" name="KO"/>
      <xs:element type="xs:integer" name="KP"/>
      <xs:element type="xs:integer" name="KQ"/>
      <xs:element type="xs:integer" name="KR"/>
      <xs:element type="xs:integer" name="KS"/>
      <xs:element type="xs:integer" name="KT"/>
      <xs:element type="xs:integer" name="KU"/>
      <xs:element type="xs:integer" name="KV"/>
      <xs:element type="xs:integer" name="KW"/>
      <xs:element type="xs:integer" name="KX"/>
      <xs:element type="xs:integer" name="KY"/>
      <xs:element type="xs:integer" name="KZ"/>
      <xs:element type="xs:integer" name="LA"/>
      <xs:element type="xs:integer" name="LB"/>
      <xs:element type="xs:integer" name="LC"/>
      <xs:element type="xs:integer" name="LD"/>
      <xs:element type="xs:integer" name="LE"/>
      <xs:element type="xs:integer" name="LF"/>
      <xs:element type="xs:integer" name="LG"/>
      <xs:element type="xs:integer" name="LH"/>
      <xs:element type="xs:integer" name="LI"/>
      <xs:element type="xs:integer" name="LJ"/>
      <xs:element type="xs:integer" name="LK"/>
      <xs:element type="xs:integer" name="LL"/>
      <xs:element type="xs:integer" name="LM"/>
      <xs:element type="xs:integer" name="LN"/>
      <xs:element type="xs:integer" name="LO"/>
      <xs:element type="xs:integer" name="LP"/>
      <xs:element type="xs:integer" name="LQ"/>
      <xs:element type="xs:integer" name="LR"/>
      <xs:element type="xs:integer" name="LS"/>
      <xs:element type="xs:integer" name="LT"/>
      <xs:element type="xs:integer" name="LU"/>
      <xs:element type="xs:integer" name="LV"/>
      <xs:element type="xs:integer" name="LW"/>
      <xs:element type="xs:integer" name="LX"/>
      <xs:element type="xs:integer" name="LY"/>
      <xs:element type="xs:integer" name="LZ"/>
      <xs:element type="xs:integer" name="MA"/>
      <xs:element type="xs:integer" name="MB"/>
      <xs:element type="xs:integer" name="MC"/>
      <xs:element type="xs:integer" name="MD"/>
      <xs:element type="xs:integer" name="ME"/>
      <xs:element type="xs:integer" name="MF"/>
      <xs:element type="xs:integer" name="MG"/>
      <xs:element type="xs:integer" name="MH"/>
      <xs:element type="xs:integer" name="MI"/>
      <xs:element type="xs:integer" name="MJ"/>
      <xs:element type="xs:integer" name="MK"/>
      <xs:element type="xs:integer" name="ML"/>
      <xs:element type="xs:integer" name="MM"/>
      <xs:element type="xs:integer" name="MN"/>
      <xs:element type="xs:integer" name="MO"/>
      <xs:element type="xs:integer" name="MP"/>
      <xs:element type="xs:integer" name="MQ"/>
      <xs:element type="xs:integer" name="MR"/>
      <xs:element type="xs:integer" name="MS"/>
      <xs:element type="xs:integer" name="MT"/>
      <xs:element type="xs:integer" name="MU"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>