DocumentApp/src/main/resources/contentprocess.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="encommEntity" type="encommEntityType"/>
  <xs:complexType name="fileTableType">
    <xs:sequence>
      <xs:element type="xs:int" name="fileId"/>
      <xs:element type="xs:string" name="formId"/>
      <xs:element type="xs:string" name="formTitle"/>
      <xs:element type="xs:float" name="versionNo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contentTableType">
    <xs:sequence>
      <xs:element type="xs:int" name="contentId"/>
      <xs:element type="xs:int" name="paraSeq"/>
      <xs:element type="xs:int" name="fileId"/>
      <xs:element type="xs:string" name="content"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encommEntityType">
    <xs:sequence>
      <xs:element type="fileTableType" name="fileTable"/>
      <xs:element type="contentTableType" name="contentTable"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>